
/*Main styling for the home page - in a separate document given that there were many elements*/
.heading {
    display: grid;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: auto;
    margin-bottom: 2cm;
    text-align: center;
    border: 3px solid black;
    padding: 20px 100px 10px;
    background-color: deepskyblue;
    background-image: linear-gradient(to left, #553c9a, #b393d3);
    border-radius: 10px;
}

h2, p {
    color: cornsilk;
}

h1 {
    font-size: 30pt;
    font-weight: bold;
    text-align: center;
    color: #2c3e50;
}

h1:hover {
    color: white;
}

.main-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    margin-bottom: 5cm;
}

.main-button {
    background: mintcream;
    margin-right: 2cm;
    position: center;
    text-align: center;
    font-weight: bold;
    font-size: 16pt;
    border-radius: 35px;
    width: 5cm;
    height: 5cm;
    padding: 0.5cm;
}
button:hover {
    background-color: darkseagreen;
}

#images {
    position: relative;
    display: flex;
    align-items: center;
    padding: 3cm;
}

.introduction-text {
    text-align: center;
    margin-top: 2cm;
    margin-bottom: 2cm;
    font-weight: bold;
    font-family: 'Roboto Mono', Monaco, courier, monospace;
    font-size: 22pt;
    padding: 30px;
}

