h1 {
    color: #fad4c0;
}

#form {
    display: grid;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: auto;
    background-image: linear-gradient(to left, #553c9a, #b393d3);
    text-align: center;
    border: 3px solid black;
    border-radius: 300px;
    padding: 30px 300px 100px;
    margin-bottom: 1cm;

}

input {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 100%;
    height: 40px;
    margin-bottom: 0.5cm;
    padding-left: 10px;
}

input[type=submit]{
    margin-top: 0.5cm;
}

input[type=submit]:hover {
    background-color: lightgreen;
}

#terms {
    font-size: 12px;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}


