*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  justify-content: center;
  align-items: center;
  align-content: center;
  display: flex;
  margin-top: 150px;
  background: white;
}
#app {
  font-family: "system-ui";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
a,
a:visited {
  color: #2c3e50;
}
.container {
  margin: 0 auto;
}


