
.footer {
    position: fixed;
    align-items: center;
    display: flex;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: darkseagreen;
    color: white;
    z-index: 2;
    padding-left: 1cm;
    padding-right: 1cm;
    height: 50px;
}

.footer:hover {
    text-decoration: none;
    color: black;
}

.footer-right {
    position: fixed;
    right: 0.5cm;

}

.icons{
    padding-left: 0.3cm;
}

